lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.zip

pids
logs
results
tmp

# Build
public/css/main.css

# Test reports
junit.xml

# Coverage reports
coverage

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Eslint metadata
.eslintcache
eslint.xml

# Ignore built ts files
dist
build
.serverless

# ignore yarn.lock
yarn.lock

# Environment variables
.development.env
.env.development
.env.local
.env
